body{
  font-family: sans-serif;
  text-align: center;
}
button{
  margin:5px;
  border-radius: 5px ;
  font-size: 1rem;
  color:white;
  background-color: green;
}
.otp-block{
  height:40px;
  width:40px;
  margin:5px;
  font-size: 1.2rem;
  text-align: center;
}